# Python
__pycache__/
*.py[cod]
venv/
*.so

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Distribution
dist/
build/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db